<!DOCTYPE html>
<html lang="en">
<body>
    <h1> Team 07: Gnuteogi</h1>
    <form action="/result" method="POST">
        <p><b>* Name</b> <input type='text' id='name' name='name' required/></p>
        <p><b>* Student Number</b> <input type='text' id='StudentNumber' name='StudentNumber' required/></p>
        <p><b>* College Name</b><input type='text' id='college' name='college' required/></p>
        <p><b>* Major</b><input type='text' id='major' name='major' required/></p>
        <p><b>* Gender</b></p>
        <label><input type="radio" name="gender" value="male">Male</label>
        <label><input type="radio" name="gender" value="female">Female</label>
        <p><b>* Email</b>
            <label><input type="text" id="email" name="email" required></label>
            @
            <select name="email_domain">
                <option value="선택">선택
                <option value="gmail.com">gmail.com</option>
                <option value="daum.com">daum.com</option>
                <option value="naver.com">naver.com</option>
               <option value="nate.com">nate.com</option>
              <option value="tistory.com">tistory.com</option>
                <!-- Add more options as needed -->
            </select>
        </p>
        <p><b>* Programming Languages</b></p>
        <label><input type="checkbox" name="programming_language" value="python">Python</label>
        <label><input type="checkbox" name="programming_language" value="java">Java</label>
        <label><input type="checkbox" name="programming_language" value="html">HTML</label>
        <label><input type="checkbox" name="programming_language" value="c++">C++</label>
        <br>
        <button type='submit' name='submit' value='submit'>submit</button>
    </form>
</body>
</html>
