<!DOCTYPE html>
<html lang="en">
<body>
    <h1> HTML input & output practice</h1>
    <form action="/result" method="POST">
        <p><b>* Name</b> <input type='text' id='name' name='name' /></p>
        <p><b>* Student Number</b> <input type='text' id='StudentNumber' name='StudentNumber' /></p>
        <p><b>Gender</b></p>
        <label><input type='radio' name="gender" value="male">Male</label>
        <label><input type='radio' name="gender" value="female">Female</label>
        <p><b>Programing Languages</b></p>
        <p><b>Major</b><input typr='text' id='major' name='major'/></p>
        <label><input type="checkbox" name="programing_laguage" value="python">Python</label>
        <label><input type="checkbox" name="programing_laguage" value="java">Java</label>
        <button type='submit' name='submit' value='submit'>submit</button>
    </form>
</body>
</html>